h1, h2 , ul{
  text-align: center;
}

body {
  background-color: rgba(4, 73, 50, .2);
}

section {
  width: 80%;
  margin: auto;
  border: 7px solid red;
  height: 600px;
}

img {
  width: 200px;
  height: 200px;
}